.garage-navigation {
    padding: 14px 25px 27px;
    color: $grey-2;
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &--active {
            color: $active-blue;
        }
    }
}
.garage-link {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    &__title {
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 160%;
        text-align: center;
        letter-spacing: -0.3px;
    }
}
