*,
*::after,
*::before {
	box-sizing: border-box;
}
a {
	text-transform: none;
	text-decoration: none;
	color: inherit;
}
body {
	padding: 0;
	margin: 0;

	font-family: "SF Pro Display";
}

.typo {
	max-width: 375px;
	margin: 0 auto;
	& > * {
		margin-top: 20px;
	}
}
hr {
	width: 100%;
}
button {
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
.container {
	max-width: 343px;
	margin: 0 auto;
}
.is-hidden {
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	position: absolute;
}
.is-empty {
	pointer-events: none;
	position: relative;
	z-index: -1;
	opacity: 0;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
}
